html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
}
body {
    background: #e0fbfc;
}
@media screen and (prefers-color-scheme: dark) {
    body {
        background: #0e172a;
    }
}
div {
    min-height: 100vh;
    padding: 1rem;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}
h1 {
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right,#6366f1, #a855f7, #ec4899);
    color: transparent;
    font-family: 'Pacifico', cursive;
    font-weight: normal;
    font-size: 1.5rem;
}
@media screen and (min-width: 300px) {
    h1 {
        font-size: 3.5rem;
    }
}
@media screen and (min-width: 480px) {
    h1 {
        font-size: 4.5rem;
    }
}
@media screen and (min-width: 750px) {
    h1 {
        font-size: 5.5rem;
    }
}
@media screen and (min-width: 1000px) {
    h1 {
        font-size: 6.5rem;
    }
}
@media screen and (min-width: 1500px) {
    h1 {
        font-size: 8.5rem;
    }
}